:root {
    --softBlue: #0084ff;
    --blue: #005db4;
    --navyBlue: #00488a;
    --black: #1a1a1a;
    --darkGray: #121212;
    --offWhite: #e7e7e7;
    --white: #ffffff;
    --gray: #333;
    --softGray: #929292;
}