body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f0f0f0;
  line-height: 1.6;
  color: #000;
}

header {
  background-color: #0066CC;
  color: #5274be;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s ease;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #1a1a1a;
  color: #fff;
  margin-bottom: 20px;
}

.logo-container img {
  max-width: 20px;
  max-height: auto;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  display: inline;
  margin-right: 20px;
  transition: transform 0.3s ease;
}

nav ul li:hover {
  transform: translateY(-3px);
}

nav ul li a {
  color: #ffffff;
  text-decoration: none;
}



.cta-button {
  background-color: #0066CC;
  color: #f0f0f0;
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
  text-decoration: none;
  font-weight: bold;
  margin-top: 20px;
  transition: background-color 0.3s ease, color 0.3s ease;
  font-size: 1.5rem;
}

.cta-button:hover {
  background-color: #0066cc;
  color: #ffffff;
  cursor: pointer;
}

section {
  color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-bottom: 30px;
  padding: 50px;
  margin-top: 20px;
  margin-bottom: 30px;
  background-color: black;
}

section h2 {
  font-size: 2rem;
  color: #0066CC;
  margin-bottom: 20px;
}

footer {
  background-color: rgba(0, 0, 0, 0.7);
  color: #ffffff;
  text-align: center;
  padding: 20px;
}





#sobre-nos {
  background-color: #0e0e0e;
  opacity: 0.9;
}



#devs {
  background-color: transparent;
  padding: 0px;
}

#sobre-nos,
#projetos,
#devs,
#contato,
#partners {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0.9;
}

section.banner {
  padding: 0px 0px;
  text-align: center;

}

@media only screen and (max-width: 767px) {
  section.banner {
    padding: 100px 20px;
    text-align: center;

  }
}

.logo-container {
  display: flex;
  justify-content: center;
}

@media only screen and (max-width: 767px) {
  header {
    flex-direction: column;
    padding: 10px;
  }

  .logo-container {
    margin-bottom: 20px;

  }

  .logo-container img {
    max-width: 50px;
  }

  nav ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  nav ul li {
    margin: 10px 0;
  }
}






.left,
.right {
  flex: 1;
  border: 0px solid black;
  margin-right: 10px;
}

.middle {
  margin: 0 10px;

}


@media only screen and (max-width: 767px) {

  .middle {
    order: 2;
  }

  .left .right {
    order: 3;
  }
}

.star-container {
  color: #777;
}

.star.filled {
  color: yellow;
}


.icon-home::before {
  content: "\f015";
}

.dark-theme {
  background-color: #333;
  color: #fff;
  min-height: 100vh;
}

.white-theme {
  background-color: #fff;
  color: #333;
  min-height: 100vh;

}

.dark-theme .pagination {
  color: white;
}

.white-theme .pagination {
  color: black;
}

.nav-link {
  color: #ffffff;
  text-decoration: none;
  padding: 10px 20px;
  position: relative;
  transition: color 0.3s ease, transform 0.3s ease;
}

.nav-link::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0;
  height: 2px;
  background-color: #0066CC;
  transition: width 0.3s ease, left 0.3s ease;
}

.nav-link:hover::before {
  width: 100%;
  left: 0;
}

.nav-link:hover {
  color: #ff00ff;
  transform: translateY(-3px);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}



.logo {
  width: 100px;
  height: auto;
  margin-right: 20px;
}

.navigation {
  display: flex;
  align-items: center;
}

.navigation a {
  color: #ffffff;
  text-decoration: none;
  margin-left: 20px;
}

.navigation a:hover {
  color: #66fcf1;
}

.devs-section h2 {
  font-size: 2rem;
  margin-bottom: 30px;
}

.error-notification {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #0066CC;
  color: #ffffff;
  padding: 10px 20px;
  border-radius: 5px;
  z-index: 9999;
}

.rating {
  unicode-bidi: bidi-override;
  color: yellow;
  font-size: 100%;
  display: flex;
}

.rating>span {
  display: inline-block;
  position: relative;
  width: 1.1em;
}

.rating>span:hover:before,
.rating>span:hover~span:before {
  content: "\2605";
  position: absolute;
  color: gold;
}

.rating>span:hover:before {
  z-index: 2;
}

.fade-enter {
  opacity: 0;
}

.fade-enter-active {
  opacity: 1;
  transition: opacity 300ms ease-in-out;
}

.fade-exit {
  opacity: 1;
}

.fade-exit-active {
  opacity: 0;
  transition: opacity 300ms ease-in-out;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f0f0f0;
  line-height: 1.6;
  color: #000;
}

header {
  background-color: #0066CC;
  color: #5274be;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s ease;
}

.navigation {
  display: flex;
  justify-content: center;
  align-items: center;
}

.navigation a {
  color: #ffffff;
  text-decoration: none;
  margin-left: 20px;
}

.navigation a:hover {
  color: #66fcf1;
}

.logo {
  width: 100px;
  height: auto;
  margin-right: 20px;
}

.devs-section h2 {
  font-size: 2rem;
  margin-bottom: 30px;
}

.error-notification {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #0066CC;
  color: #ffffff;
  padding: 10px 20px;
  border-radius: 5px;
  z-index: 9999;
}

.rating {
  unicode-bidi: bidi-override;
  color: yellow;
  font-size: 100%;
  display: flex;
}

.rating > span {
  display: inline-block;
  position: relative;
  width: 1.1em;
}

.rating > span:hover:before,
.rating > span:hover ~ span:before {
  content: "\2605";
  position: absolute;
  color: gold;
}

.rating > span:hover:before {
  z-index: 2;
}

section {
  color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 50px;
  background-color: black;
}

section h2 {
  font-size: 2rem;
  color: #0066CC;
  margin-bottom: 20px;
}

footer {
  background-color: rgba(0, 0, 0, 0.7);
  color: #ffffff;
  text-align: center;
  padding: 20px;
}

@media only screen and (max-width: 767px) {
  header {
    flex-direction: column;
    padding: 10px;
  }

  .logo-container {
    margin-bottom: 20px;
  }

  .logo {
    max-width: 80px;
  }

  .navigation {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .navigation a {
    margin: 10px 0;
  }
}

.icon {
  font-size: 15px; 
  margin-right: 10px; 
  color: #0066CC; 

}