.sobre-nos {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 2rem 0 0;
    background: var(--darkGray);
}

.section-box,
main {
    padding: 20px
}

h2 {
    color: var(--softBlue);
}

ul {
    list-style-type: none;
    padding: 0
}

.section-box {
    border-radius: 10px;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    background-color: var(--gray);
}

.section-box p,
.section-box ul li {
    border: 2px solid #454545;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
    width: 90%;
    color: var(--offWhite);
}

@media screen and (max-width:1000px) {
    .section-box {
        overflow: hidden
    }
}