.sobre-nos {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}


main {
  padding: 20px;
}

h2 {
  color: #007bff; 
}

ul {
  list-style-type: none;
  padding: 0;
}

.section-box {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 20px;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  background-color: #0e0e0e;
  opacity: 0.9;
}

.section-box  p {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 20px;
  margin-bottom: 20px;
  color: #f0f0f0

}

.section-box  ul li {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 20px;
  margin-bottom: 20px;
  color: #f0f0f0

}