.sobre-nos {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 5rem 0 0;
    background: var(--darkGray);
}

.aboutUs-section-box,
main {
    padding: 20px
}

h2 {
    color: var(--softBlue);
}

ul {
    list-style-type: none;
    padding: 0
}

.aboutUs-section-box {
    border-radius: 10px;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    background-color: var(--gray);
}

.aboutUs-section-box p,
.aboutUs-section-box ul li {
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
    width: 90%;
    color: var(--offWhite);
}

@media screen and (max-width:1000px) {
    .aboutUs-section-box {
        overflow: hidden
    }
}