.agenda {
  flex: 2;
  font-family: Arial, sans-serif;
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background-color: #0066CC;
  border-radius: 10px;
  margin-bottom: 20px;
  color: #ea3131;
}

.agenda-content {
  flex: 2;
  padding: 20px;
}

.agenda h2 {
  text-align: center;
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.calendar {
  border: 1px solid #8a0e0e;
  border-radius: 5px;
  overflow: hidden;
  background-color: #0066CC;
}

.calendar-header {
  display: flex;
  justify-content: space-between;
  background-color: #a33939;
  padding: 5px;
}

.calendar-header div {
  flex: 1;
  text-align: center;
  font-weight: bold;
}

.calendar-body {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
}

.calendar-day {
  text-align: center;
  padding: 10px;
  border-right: 1px solid #541717;
  border-bottom: 1px solid #462020;
}

.calendar-day.today {
  background-color: #25200c;
}

.calendar-day.training {
  background-color: #28383f;
}

.react-calendar__tile {
  background-color: #8a0e0e;
  color: #fff;
}

.react-calendar__tile--active {
  background-color: #a33939;
}

.react-calendar__tile--now {
  background-color: #25200c;
}

.react-calendar__tile--hasActive {
  background-color: #28383f;
}

.calendar-header .react-calendar__navigation {
  color: #25200c;
}

.react-calendar__navigation__arrow {
  background: none;
  border: none;
  color: #25200c;
}

.react-calendar__navigation__arrow:enabled:hover,
.react-calendar__navigation__arrow:enabled:focus,
.react-calendar__navigation__label__labelText, 
.react-calendar__navigation__label__labelText--from {
  color: #000;
}

.react-calendar__navigation__arrow:disabled {
  color: #ccc;
}

.calendar-month {
  color: #25200c;
}