@media only screen and (max-width: 767px) {
  .middle {
    order: 2;
  }

  .left,
  .right {
    order: 3;
  }
}

nav ul li {
  display: inline;
  margin-right: 20px;
}

nav ul li:last-child {
  margin-right: 0;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
}

.cta-button:hover {
  background-color: #0056b3;
  cursor: pointer;
}

.section h2 {
  font-size: 2rem;
  margin-bottom: 20px;
}

.section p {
  font-size: 1.2rem;
  margin-bottom: 20px;
}

@media only screen and (max-width: 767px) {
  .middle {
    order: 2;
  }

  .left,
  .right {
    order: 3;
  }

  nav ul li {
    display: block; 
    margin-right: 0; 
    margin-bottom: 10px; 
  }

  nav ul li:last-child {
    margin-bottom: 0; 
  }

  nav ul li a {
    display: block; 
    color: #fff;
    text-decoration: none;
    font-weight: bold;
  }

  .cta-button:hover {
    background-color: #0056b3;
    cursor: pointer;
  }

  .section h2 {
    font-size: 2rem;
    margin-bottom: 20px;
  }

  .section p {
    font-size: 1.2rem;
    margin-bottom: 20px;
  }
}