nav ul li {
    display: inline;
    margin-right: 20px
}

nav ul li:last-child {
    margin-right: 0
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: 700
}

.cta-button:hover {
    background-color: #0056b3;
    cursor: pointer
}

.section h2 {
    font-size: 2rem;
    margin-bottom: 20px
}

.section p {
    font-size: 1.2rem;
    margin-bottom: 20px
}
.container-home {
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    display: flex;
    background-image: url("../images/modern-white-blue-abstract-technology-background-design-vector-illustration_29865-4715.avif");
    background-color: transparent;
    max-width: 100%;
    padding: 20px;
}

@media only screen and (max-width:767px) {
    .container-home {
        padding: 20px;
        flex-direction: column;
        overflow-x: hidden;
    }
    .banner-center h1 {
        font-size: larger;
    }

    .banner-center h3 {
        font-size: medium;
    }

    .banner-center h4 {
        font-size: small;
    }

    .banner-left img {
        width: 80%;
    }

   

    .middle {
        order: 2
    }

    .left,
    .right {
        order: 3
    }

    nav ul li {
        display: block;
        margin-right: 0;
        margin-bottom: 10px
    }

    nav ul li:last-child {
        margin-bottom: 0
    }

    nav ul li a {
        display: block;
        color: #fff;
        text-decoration: none;
        font-weight: 700
    }

    .cta-button:hover {
        background-color: #0056b3;
        cursor: pointer
    }

    .section h2 {
        font-size: 2rem;
        margin-bottom: 20px
    }

    .section p {
        font-size: 1.2rem;
        margin-bottom: 20px
    }
}