.app-container {
  display: flex;
  flex-direction: column;
  align-items: center;

}

.main-content-solution {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-top: 20px;
}

#services {
  border-radius: 10px;
  border: 4px solid #333;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  padding: 20px;
  background-color: #f0f0f0;
}

#services h3 {
  color: #0066CC;
}