.app-container {
    display: flex;
    flex-direction: column;
    align-items: center
}

.main-content-solution {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: 20px
}

#services {
    border-radius: 10px;
    border: 4px solid #333;
    box-shadow: 0 0 10px rgba(0, 0, 0, .5);
    padding: 20px;
    background-color: #f0f0f0
}

#services h1 {
    color: #06c;
    font-size: 24px;
}

.section-box-solutions {
    border: 1px solid transparent;
    border-radius: 5px;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    background-color: #0e0e0e;
    opacity: .9
}

.section-box-solutions p,
.section-box-solutions ul li {
    border: 1px solid transparent;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 20px;
    color: #0e0e0e
}

@media screen and (max-width:1000px) {
    .section-box-solutions {
        overflow: hidden
    }
}