.container-home {
  display: flex; 
  background-image: url("../images/modern-white-blue-abstract-technology-background-design-vector-illustration_29865-4715.avif");
}

.banner-left,
.banner-center,
.banner-right {
  flex: 1; 
}

.banner {
  padding: 50px 20px;
  background-size: cover;
  background-position: center;
  background-color: transparent;
  text-align: center;
  color: #0066CC;
  font-family: 'Arial', sans-serif;
}

.banner h1 {
  font-size: 3rem;
  margin-bottom: 10px; 
}

.banner h3 {
  font-size: 2rem;
  margin-bottom: 20px; 
}

.banner p {
  font-size: 1.2rem; 
  margin-bottom: 20px;
  color: #0056b3;
  line-height: 1.5;
}

.banner .cta-button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #0066CC;
  color: #f0f0f0;
  text-decoration: none;
  border-radius: 5px;
}

.banner .cta-button:hover {
  background-color: #45a29e;
}

.banner-center {
  text-align: center;
}

.banner-content {
  width: 30%;
  text-align: center;
}