.dashboard {
    display: flex;
background-color: #0e0e0e;
color: #f0f0f0;
  }
  
  .right-container,
  .left-container {
    flex: 1;  
  }
  
  .main-content {
    flex: 2;
    padding: 20px;
    
    
  }
  
  .right-container > *,
  .left-container > * {
    background-color:transparent;
  }
  
  .right-container > * h2,
  .left-container > * h2 {
    font-size: 1.5rem;
  }
  
  .notification-bar {
    background-color: #ffcccc;
    color: #ff0000;
    padding: 10px;
    margin-bottom: 10px; 
    width: calc(100% - 20px);
  }

  .notification-badge {
    position: absolute;
    top: -5px;
    right: -5px;
    background-color: red;
    color: white;
    border-radius: 50%;
    padding: 5px;
    font-size: 12px;
  }

  @media only screen and (max-width: 768px) {
    .dashboard {
      flex-direction: column;
    }
    
    .main-content {
      padding: 10px; 
    }
    
    .notification-bar {
      width: calc(100% - 10px); 
    }
  
    .notification-badge {
      top: 5px;
      right: 5px;
    }
  }

  @media only screen and (min-width: 768px) {
    .dashboard {
      flex-direction: column; 
    }
    
    .main-content {
      padding: 10px; 
    }
    
    .notification-bar {
      width: calc(100% - 10px); 
    }
  
    .notification-badge {
      top: 5px;
      right: 5px;
    }
  }