.dashboard {
    display: flex;

  }
  
  .left-container {
    flex: 1;
    padding: 20px;   
    
  }
  
  .main-content {
    flex: 2;
    padding: 20px;
    
  }
  
 
  .left-container > * {
    background-color:#041c77;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
  }
  
  .left-container > * h2 {
    font-size: 1.5rem;
    margin-bottom: 10px;
  }
  
  