

.donations-container {
    padding: 20px;
}




.content-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    color: #000;

}

.intro-section,
.image-section,
.bank-details-section,
.donations-cards-section {
    margin-bottom: 20px;
}

.intro-section h1 {
    color: #0066CC;
}

.intro-section p,
.bank-details-section p {
    color: #666;
}

.bank-details-section ul {
    margin-top: 10px;
}
.image-custom {
    width: 100%;
    height: 20vh;
    object-fit: cover;
  }
.donations-cards-section .row {
    margin-left: -10px;
    margin-right: -10px;
    background-color: #000;
    color: #fff;
}

.donations-cards-section .col {
    padding-left: 10px;
    padding-right: 10px;
}