
.transaction-history {
    flex: 1;
  }
  
  .transaction-history h2 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .transaction-history table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .transaction-history th,
  .transaction-history td {
    padding: 10px;
    border: 1px solid #ccc;
    color: #000;
  }
  
  .transaction-history th {
    background-color: #f0f0f0;
    font-weight: bold;
    color: #000;
  }
  
  .transaction-history tbody tr:nth-child(even) {
    background-color: #f9f9f9;
    color: #000;
  }
  
  .transaction-history tbody tr:nth-child(odd) {
    background-color: #ffffff;
    color: #000;
  }
  
  .transaction-history tbody tr:hover {
    background-color: #e0e0e0;
    color: #000;
  }

  @media only screen and (max-width: 800px) {
    .transaction-history th,
    .transaction-history td {
      font-size: 14px;
      padding: 8px;
    }
  
    .transaction-history h2 {
      font-size: 20px;
    }
  }

  @media only screen and (max-width: 800px) {
    .hide-on-mobile {
      display: none;
    }
  }