 .icon-home::before {
   content: "\f015";
 }



 @keyframes fadeIn {
   from {
     opacity: 0;
   }

   to {
     opacity: 1;
   }
 }

 @keyframes slideIn {
   from {
     transform: translateY(-100px);
   }

   to {
     transform: translateY(0);
   }
 }

 @media only screen and (max-width: 767px) {
   .plano-container {
     flex-direction: column;
     align-items: center;
   }

   .plano {
     width: 95%;
     margin-bottom: 10px;
   }
 }

 .container-devs {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f0f0f0;
  color: #5274be;
  padding: '20px';
  background-image: url('../images/modern-white-blue-abstract-technology-background-design-vector-illustration_29865-4715.avif');


 }

 .container-devs h1,
 .container-devs h3,
 .container-devs p,
 .container-devs img {
   margin: 5px 0;
   color: #5274be;
 }

 .container-devs img {
   height: 25vb;
 }

 @media only screen and (max-width: 767px) {
   .container-devs {
     flex-direction: column;
     width: 100%;
   }

   .middle {
     order: 2;
   }

   .left,
   .right {
     order: 3;
   }
 }