.login,
.login-container {
    background-color: #ffffff;
}

.login {
    min-height: 100vh;
}

.form,
.login {
    display: flex;
    align-items: center;
    justify-content: center;
}

.login {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    justify-content: center;
    align-items: center;
    opacity: .8
}

.login-container {
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(108, 108, 108, 0.5);
    padding: 2rem;
    width: 100%;
    height: max-content;
    margin: 5rem 0;
}

.form {
    flex-direction: column;
    align-items: center;
}

.password-input {
    width: 100%;
}

.form h2 {
    margin-bottom: 20px
}

.form label {
    margin-bottom: 10px;
    color: #000;
}

.form input[type=password],
.form input[type=text] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    color: #000
}

.form button {
    width: 100%;
    padding: 10px;
    background-color: #06c;
    color: #fff;
    border: none;
    border-radius: 10px;
    cursor: pointer
}

.form button:disabled {
    background-color: #ccc;
    cursor: not-allowed
}

.form button[type=button] {
    background-color: transparent;
    border: none;
    color: #06c;
    text-decoration: underline;
    cursor: pointer
}

@media only screen and (max-width:767px) {
    .login-container {
        width: 90%
    }

    .login-container h1 {
        font-size: larger;
    }


    .login-container h2 {
        font-size: medium;
    }

    .login-container label {
        font-size: medium;
    }
}

@media only screen and (min-width: 768px) {
    .login-container {
        width: 50%;
        padding: 3rem 8rem 0;
    }
}

.password-input input[type=password],
.password-input input[type=text] {
    display: flex;
    align-items: center;
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    color: #000
}

.password-input button {
    padding: 0;
    background-color: transparent;
    border: none;
    cursor: pointer;
    left: 80%;
    width: 100%
}