.login {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f0f0f0;
  opacity: 0.8;

}

.login-container {
  border-radius: 10px;
  border: 4px solid #333;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  padding: 20px;
  background-color: #f0f0f0;
  width: 30%;
  
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;

}

.form h2 {
  margin-bottom: 20px;
}

.form label {
  margin-bottom: 10px;

}

.form input[type="text"],
.form input[type="password"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  color: black; 
}

.form button {
  width: 100%;
  padding: 10px;
  background-color: #0066cc;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  cursor: pointer;

}

.form button:disabled {
  background-color: #cccccc;
  cursor: not-allowed;
}

.form button[type="button"] {
  background-color: transparent;
  border: none;
  color: #0066cc;
  text-decoration: underline;
  cursor: pointer;
}

@media only screen and (max-width: 767px) {
  .login-container {
    width: 90%;
  }  
}

@media only screen and (min-width: 768px) {
  .login-container {
    width: 50%
  }
}

.password-input input[type="password"],
.password-input input[type="text"] {
  display: flex;
  align-items: center;
  flex: 1;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  color: black;
}

.password-input button {
  padding: 0px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  left: 80%;
  width: 10%;
}