.login {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f0f0f0;
  background-image: url('../images/modern-white-blue-abstract-technology-background-design-vector-illustration_29865-4715.avif');

}

.login-container {
  background-color: transparent;
  padding: 20px;
  border-radius: 5px;
  width: 100%; /* Defina uma largura padrão para o contêiner */
  max-width: 400px; /* Defina uma largura máxima para o contêiner */

}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form h2 {
  margin-bottom: 20px;
}

.form label {
  margin-bottom: 10px;
}

.form input {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.form button {
  width: 100%;
  padding: 10px;
  background-color: #0066cc;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.form button:disabled {
  background-color: #cccccc;
  cursor: not-allowed;
}

.form button[type="button"] {
  background-color: transparent;
  border: none;
  color: #0066cc;
  text-decoration: underline;
  cursor: pointer;
}