.menu {
  list-style: none;
  padding: 0;
  margin: 0;
}

.menu-item {
  margin-bottom: 5px;
}

.menu-item a {
  display: flex;
  align-items: center;
  padding: 10px 15px;
  border-radius: 30px; 
  font-size: 1.2rem;
  font-weight: bold;
  text-decoration: none;
  color: #fff;
  background: transparent; 
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3); 
  transition: transform 0.3s, box-shadow 0.3s;
}

.menu-item a:hover {
  transform: translateY(-3px); 
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.5);
}

.menu-item a .icon {
  font-size: 1.5rem;
  margin-right: 15px;
  transition: transform 0.3s;
}

.menu-item a:hover .icon {
  transform: scale(1.2);
}

.menu-item a:hover .text {
  transform: translateX(5px);
}

.menu-item a .text {
  transition: transform 0.3s;
}

.menu-item:last-child {
  margin-bottom: 0;
}