.nav-header {
    display: none; /* Oculta o cabeçalho do menu em telas maiores */
  }
  
  .nav-toggle {
    width: 30px;
    height: 3px;
    background-color: #333;
    margin: 6px 0;
    transition: transform 0.3s ease;
  }
  
  .nav-toggle.open {
    transform: rotate(45deg);
  }
  
  .nav-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  .nav-list.open {
    display: block; /* Exibe a lista de navegação quando o menu é aberto */
  }
  
  .nav-item {
    padding: 10px;
  }
  
  .nav-link {
    text-decoration: none;
    color: #333;
  }
  
  /* Estilos para telas menores */
  @media screen and (max-width: 768px) {
    .nav-header {
      display: block; /* Exibe o cabeçalho do menu em telas menores */
      cursor: pointer;
    }
    .nav-list {
        display: none; /* Oculta a lista de navegação por padrão em telas menores */
      }
    
      .nav-open .nav-list {
        display: block; /* Exibe a lista de navegação quando o menu está aberto */
      }
  }