.container-wrapper {
  display: flex;
  flex-wrap: wrap;
  background-color: #f0f0f0;
  color: #0e0e0e;
}


.right-container-client,
.left-container-client {
  flex: 1;
  padding: 20px;
  color: #0e0e0e;
}

.right-container-client ul li,
.left-container-client ul li {
  flex: 1;
  padding: 20px;
  background-color: transparent;
  color: #0e0e0e;
}

.left-container-request-dev,
.right-container-request-dev {
  flex: 1;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: transparent;
  width: 25%;
  max-width: 25%;
}

.center-container-request-dev {
  flex: 1;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: transparent;
  width: 50%;
  max-width: 50%;

}

.gold-medal {
  position: relative;
  top: 10px;
  right: 10px;
  font-size: 24px;
}

.silver-medal {
  position: relative;
  top: 10px;
  right: 10px;
  font-size: 24px;
}

@media screen and (max-width: 1000px) {
  .container-wrapper {
    flex-direction: column;
  }

  .left-container-request-dev,
  .center-container-request-dev,
  .right-container-request-dev {
    width: 100%;
    max-width: 100%;
  }

  .left-container-request-dev {
    order: 2;
  }

  .center-container-request-dev {
    order: 1;
  }

  .right-container-request-dev {
    order: 3;
  }
}


