.container-wrapper {
  display: flex;
  flex-wrap: wrap;
  background-color: #f0f0f0;

}

.section-box {
  display: flex;
  justify-content: space-between;
  background-color: #0e0e0e;
  opacity: 0.9;

}



.left-container-request-dev,
.center-container-request-dev,
.right-container-request-dev {
  flex: 1;
  padding: 20px; /* Adicione preenchimento para dar espaço interno */
  border: 1px solid #ccc; /* Adicione uma borda para destacar os containers */
  border-radius: 8px; /* Adicione bordas arredondadas */
  background-color: #f0f0f0;
}