.reviews-page {
    padding: 20px;
  }
  
  .reviews-page h1 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .review-cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    grid-gap: 20px;
  }
  
  .review-card {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .review-card h2 {
    font-size: 18px;
    margin-bottom: 10px;
  }
  
  .review-card p {
    font-size: 16px;
    color: #666;
  }
  
 
  .page-link {
    padding: 8px 16px;
    margin: 0 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .page-link:hover {
    background-color: #f0f0f0;
  }