.tips,
.tips h1 {
    background-color: #222; 
    color: #fff; 
}

.card {
    background-color: #333; 
    color: #fff; 
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5); 
}

.card h2 {
    color: #06c; 
}

.card p {
    color: #ddd; 
}

@media only screen and (max-width:767px) {
    .tips h1 {
        font-size: large; 
    }
    .card h2 {
        font-size: medium;
        margin-bottom: 10px;
    }
    .card p {
        font-size: small; 
        line-height: 1.6;
    }
}