.tips {
    background-color: #222; 
    color: #fff; 
  }
  .tips h1{
    background-color: #222; 
    color: #0066CC; 
  }
  .card {
    background-color: #333; 
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  }
  
  .card h2 {
    color: #0066CC; 
    font-size: 1.5em;
    margin-bottom: 10px;
  }
  
  .card p {
    font-size: 1.1em;
    line-height: 1.6;
  }
    
  tips h1 {
    color: #0066CC; 
  }