.training-dev {
  padding: 20px;
}

.training-dev h1 {
  font-size: 24px;
  margin-bottom: 10px;
  color: #f0f0f0;
}

.training-item {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.training-item .video-link {
  margin-right: 20px;
}

.add-training-form h2 {
  color: #f0f0f0;
}

.training-item .video-link img {
  max-width: 200px;
}

.training-item .training-details {
  flex: 1;
}

.training-item h2 {
  font-size: 20px;
  margin-bottom: 5px;
}

.training-item p {
  font-size: 16px;
  color: #666;
}